form.hf-form {
	div.input {
		display: flex;
		margin-bottom: 1rem;

		label {
			flex-basis: 9em;
			padding:.5em 0;
		}

		input, textarea, button {
			width: 100%;
		}

		textarea {
			min-height:10em;
		}
	}
}