.twinty {
	.site-header.featured-image {
		.hentry .entry-header {
			@include media(tablet) {
				margin-left: calc(2 * (100vw / 18));
				margin-right: calc(2 * (100vw / 18));
			}

			@include media(desktop) {
				margin-left: calc(2 * (100vw / 12));
				margin-right: calc(2 * (100vw / 12));
			}
		}
	}

	#jp-relatedposts.jp-relatedposts {
		margin: 5vw 1rem;

		@include media(desktop) {
			margin: 5vw calc(2 * (100vw / 12));
		}
	}
}